@media (max-width:930px) {
    header {
        padding: 0 35px !important;
    }

    nav button {
        font-size: 10px !important;
        padding: 9px 17px !important;
    }

    .video {
        width: 100% !important;
        height: 470px !important;
        border-left: 4px solid !important;
        border-right: 4px solid !important;
        background-position: center !important;
        border-radius: 12px !important;
    }

    main {
        text-align: center !important;
        padding: 0 20px !important;
        height: 85vh !important;
    }

    main h1 {
        margin-top: 0px !important;
        font-size: 24px;
    }

    main h2 {
        font-size: 19px !important;
    }

    .brand {
        flex-wrap: wrap !important;
        padding: 20px;
    }

    .paragraph {
        margin-top: 192px !important;
    }

    .paragraph p {
        width: 100% !important;
    }

    .brand img {
        width: 100px !important;
    }

    .paragraph button {
        font-size: 14px !important;
    }

    .paragraph button span {
        font-size: 12px !important;
    }

    .video .shadow {
        width: 100px !important;
        height: 100px !important;
    }

    .video .shadow .play-btn {
        width: 60px !important;
        height: 60px !important;
    }

    .border-left {
        width: 150px !important;
    }

    .testimonials {
        flex-wrap: wrap !important;
    }

    .testimonial {
        height: 100% !important;
        padding: 40px 0 !important;
        text-align: center !important;
    }

    .testimonial-button {
        font-size: 14px !important;
    }

    .testimonial-button span {
        font-size: 12px !important;
    }

    .testimonial .testimonial-heading {
        font-size: 30px !important;
    }

    .card {
        margin-bottom: 20px !important;
    }

    .border-right {
        width: 50px !important;
    }

    .comments {
        overflow: hidden;
    }

    .about-container {
        padding: 40px;
    }

    .about-container img {
        width: 100% !important;
    }

    .result-container {
        margin-top: 0 !important;
        background: url("./images/background-test.png") !important;
    }

    .result-container p {
        width: 100% !important;
    }

    .results {
        padding: 0 20px !important;
    }

    .result-container img {
        width: 100% !important;
        height: 100% !important;
    }

    .brand-exp .brand {
        margin-top: -25px !important;
    }

    .border-center {
        width: 300px !important;
    }

    footer p {
        font-size: 0.9rem;
    }

    .comments img {
        width: 100% !important;
    }

    .proof {
        padding: 0 10px !important;
    }

    .message-center {
        margin-left: 0 !important;
    }

    .about-container .content {
        width: 100% !important;
    }

    .message {
        width: 100% !important;
    }

    .message img {
        width: 100% !important;
    }

    .container {
        min-width: 100% !important;
        padding: 0 20px;
    }

}